<div class="container">
  <h1><%= title %></h1>
  <p>Wel hello there,</p>
  <% if (goals.length > 0) { %>
    <p>Here you can see a list of the current existing goals:</p>
    <ul>
      <% goals.forEach(function(goal) { %>
        <li><strong>Name:</strong> <%= goal.name %> | <strong>Value:</strong> <%= goal.value %></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No goals have been added yet. To do so you can go to 
      <a href="http://<%= host %>/scanevent?name=newgoal">this link</a> 
      and replace "newgoal" with the goal you want to add.
    </p>
  <% } %>
  <p>The current score of the active counter is <%= currentscore %></p>
</div>